
.placeholder {
    background-color: #9c27b0;
    height: 300px;
    width: 100%;
}

article img {
    width: 100%;
}

article .botw {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

article {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

article>.header {
    width: 60%;
    margin: auto;
    position: relative;
    bottom: 70px;
    /*Denne skubber artikel header op over billedet -- skubber den op i bunden*/

    height: 250px;
    background-color: #fafafa;

    text-align: center;

    color: #00004d;
}

.header img {
    width: 20%;
}

.indhold {
    width: 55%;
    margin: auto;
    position: relative;
    height: auto;

    text-align: justify;

    background-color: #fafafa;
    color: #00004d;
}

.indhold-overskrift {
    font-family: "Poppins";
    padding-bottom: 1%;
}

.indhold-tekst {
    font-family: "Rubik";
    line-height: 23px;
}

.indhold-tekst img{
    width:30%;
    margin-top:10px;
}

.indhold img{
    border-radius: 10px;
}


.indhold-tekst a {
    text-decoration: none;
    color: #9c27b0;
}

.indhold-tekst a:hover {
    text-decoration: underline;
}

article .header p {
    font-family: "Poppins";
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: 400;

    margin: 1%;

    color: #757575;
}


article .header h2 {
    font-size: 10pt;
    padding: 2%;

    font-family: "Poppins";
    font-weight: 500;
    color: #9c27b0;

    text-transform: uppercase;
}

article .header h3 {
    font-family: "Poppins";
    font-size: 30pt;

}

main {
    height: auto;
    margin: 0px;
    padding: 0px;
}

/*LIST STYLES*/
ul {
    list-style-type: none;
    padding: 1%;
    line-height: 50px;
}

ul a {
    font-family: "Rubik";

    text-decoration: none;
    color: #9c27b0;
}

ul a:hover {
    text-decoration: underline;
}

ol {
    font-family: "Rubik";
    line-height: 30px;
    font-size: 13pt;
}

/*KORT STYLES*/
.kort {
    margin-bottom: 200px;
}

.headingbox {
    margin-top: 200px;
}

/*Previous og next knapper*/
.pile{
    display:flex;
    align-items: center;
    justify-content: space-between;


    padding-top:10%;
}

.pile a {
    font-family: "Poppins";
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.pile a:hover {
    background-color: #9b27b05c;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: #00004d;
}

.next {
    background-color: #f1f1f1;
    color: #00004d;
}

.round {
    border-radius: 5%;
}