/*HEADINGBOX STYLES*/
.headingbox{
    border-bottom:2px solid #00004d;
    width:100%;
    padding-left:33%;
    margin-bottom:60px; /*pga. position relative tricket skal der lidt mere plads til*/

}

.headingbox h1{
    position:relative;
    top:45px;
    background-color:#fafafa;

    width:500px;
    text-align:center;
    text-transform:uppercase;
    
    font-weight:500;
    font-family:"Poppins";
    font-size:40pt;
    letter-spacing:-1px;
    color:#00004d;

}

/*KORT STYLES*/
.kort{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
}