* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: #fafafa;
    width: 100%;


}

/*HEADER STYLES*/

header {
    width: 100%;
    top: 0px;
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    background-image: linear-gradient(to right, #673ab7, #400b9d);

    font-family: "Poppins";
    font-weight: 300;

    padding: 5px;

    z-index: 9999;
    /*Gør så den altid er øverst*/


}

#logo {
    float: left;
    width: 25%;
    padding: 2%;
    margin-left: 20%;
}

#brugerikon {
    margin-right: 5%;
}

#search {
    width: 3%;
}


/*DROPDOWN BUTTONS*/
nav {
    width: 100%;
    height: 80px;


    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

    margin-right: 5%;

    z-index: 9999;
    /*Gør så den altid er øverst*/
}

/*nav a {
    float: left;
    font-size: 16px;
    color: #fafafa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

.dropdown {
    float: left;
    position: relative;

    margin-right: 1%;
}

.dropdown a {
    text-decoration: none;
 
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fafafa;
    padding: 10px 12px;
    background-color: transparent;
    font-family: "Poppins";
    margin: 0;
}

#bruger {
    float: right;
    right: 0;
}

nav .dropdown:hover .dropbtn {
    background-color: #9c27b0;
    border-radius: 50px;
}

.dropdown-one {
    cursor: pointer;
    display: none;
    position: absolute;
    background-clip: padding-box;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #fafafa;

}

.dropdown-two {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 160px;
    top: 0px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #fafafa;

}

.dropdown:hover .dropdown-one,
.dItem:hover>.dropdown-two {
    display: block;
}

.dropdown-one .dItem {
    color: #00004d;
    padding: 12px 16px;
    display: block;
    text-align: left;

    font-size: 16px;
}

.dropdown-one .dItem:hover,
.dropdown-two a:hover {
    text-decoration: none;
    width: 100%;
    background-color: #9b27b081;
}



/*FOOTER STYLES*/
footer {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, #400b9d, #673ab7);

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;

    padding: 5%;

    font-family: "Poppins";
    color: #e0e0e0;

}

form {
    padding-top: 5%;
    color: #400b9d;
}

footer h2 {
    font-size: 20px;
    font-weight: 400;
    color: #fafafa
}



footer a {
    text-decoration: none;
    color: #e0e0e0;

    font-size: 15px;
    font-weight: 200;
    transition:0.4s;
}

footer a:hover {
    text-decoration: none;
    color: #9c27b0;
}

/*Tilmeld nyhedsbrev*/
footer form button {
    font-family: "Poppins";
    font-size: 10pt;
    height: 30px;
    width: 13%;
    color: #e0e0e0;
    background-color:#b942ce;

    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition:0.6s;
}

footer form button:hover{
    background-color: #00004d;
    border:2px solid #b942ce;

}

footer form input{
    padding:1%;
}

#email {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1%;
}

#email h1 {
    font-size: 35px;
    font-weight: 600;
    color: #9c27b0;
}

#contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.box {
    display: flex;
    flex-direction: column;

    margin-right: 20%;

}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;

    margin-right: 15%;


}

/*ikoner i footer*/
.ikoner {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;

    margin-left: 100%;
    margin-top: 10%;

}

.ikoner img {
    margin-right: 5%;
}

/*MAIN STYLES*/
main {
    height: 2100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10px;

}

/*SLIDER STYLES MAIN*/


input[type=radio] {
    display: none;
}

.card .link {
    /*Leg lidt med det – skubber div element op over et billede*/
    background-color: #410b9d;
    height: 100px;
    width: 60%;
    margin-left: 35px;

    border-radius: 10px;

    position: relative;
    bottom: 170px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;

}

.link a {
    font-family: "Poppins";
    color: #fafafa;
    font-size: 18pt;

    text-decoration: none;

    transition:0.4s;
}

.type p {
    text-transform: uppercase;
    color: #b942ce;

}

.card .type {
    width: 20%;
    height: 100%;

    text-align: center;

    background-color: #410b9d;
    margin-left: 35px;

    border-radius: 10px;

    position: relative;
    bottom: 155px;


    padding: 1%;
}

.card a:hover {
    text-decoration: none;
    color: #b942ce;
}


.card {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 800px;
    max-height: 700px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.imgslide {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked~.cards #pic-3,
#item-2:checked~.cards #pic-1,
#item-3:checked~.cards #pic-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;

}

#item-1:checked~.cards #pic-2,
#item-2:checked~.cards #pic-3,
#item-3:checked~.cards #pic-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;


}

#item-1:checked~.cards #pic-1,
#item-2:checked~.cards #pic-2,
#item-3:checked~.cards #pic-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;

    /*img }
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }*/
}